@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;
  --spider-red: #E23636;
  --spider-blue: #0033CC;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-spider-red: var(--spider-red);
  --color-spider-blue: var(--spider-blue);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

html {
  scroll-behavior: smooth;
}
